@import url('https://fonts.googleapis.com/css?family=Dosis:wght@200&family=Roboto:wght@400&display=swap');

body{
    font-family: "Dosis", sans-serif;
    background-color: #f6f6f6;
    text-align: justify; 

}

header{
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
}

.btn {
    width: 42px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 25px;
}

.btn span {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

.btn span::before , .btn span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.btn span::before {
    transform: translateY(-10px);
}

.btn span::after {
    transform: translateY(10px);
}

.btn.btnCross span {
    background-color: transparent;
}

.btn.btnCross span::before {
    transform: translateY(0px) rotate(45deg);
}

.btn.btnCross span::after {
    transform: translateY(0px) rotate(-45deg);
}

.menuBurger{ 
    position: fixed;
    left: 0;
    width: 60%;
    height: 100%;
    top: 5rem;
    transform: translateX(-110%);
    transition-duration: 2.5s;
    background-color: #438086;
  
   
}

.isOpen {
    transform: translateX(0);
}

.menuBurger ul{
 width: 50%;
 margin: 0;
 padding-left: 20%;
}

.menuBurger ul li{
    list-style: none;
    font-size: 1.5rem;
    border-top: solid 1px black;
    padding: 0.75rem;
    
}

.menuBurger ul li:first-child{
    border:0;
}
.menuBurger ul li a {
    color: #f6f6f6;
}


.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner p {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
}


h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
h2{
    text-align: center;
}

.photomax{
   height: 225px;
   width: 225px;;
   border-radius: 50%;
   margin-bottom: 2rem;
 
}
.description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem 5rem;
   background-color: #438086;
   color: #f6f6f6;
   font-size: 1.2rem;
}