@import url('https://fonts.googleapis.com/css?family=Dosis:wght@200&family=Roboto:wght@400&display=swap');

body{
    font-family: "Dosis", sans-serif;
    background-color: #f6f6f6;

    
}

header{
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
}

.btn {
    width: 42px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 25px;
}

.btn span {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

.btn span::before , .btn span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.btn span::before {
    transform: translateY(-10px);
}

.btn span::after {
    transform: translateY(10px);
}

.btn.btnCross span {
    background-color: transparent;
}

.btn.btnCross span::before {
    transform: translateY(0px) rotate(45deg);
}

.btn.btnCross span::after {
    transform: translateY(0px) rotate(-45deg);
}

.menuBurger{ 
    position: fixed;
    left: 0;
    width: 60%;
    height: 100%;
    top: 5rem;
    transform: translateX(-110%);
    transition-duration: 2.5s;
    background-color: #67abb1;
  
   
}

.isOpen {
    transform: translateX(0);
}

.menuBurger ul{
 width: 50%;
 margin: 0;
 padding: 0 25%;
}

.menuBurger ul li{
    list-style: none;
    font-size: 1.5rem;
    border-top: solid 1px black;
    padding: 0.75rem;
    
}

.menuBurger ul li:first-child{
    border:0;
}
.menuBurger ul li a {
    color: #f6f6f6;
    text-decoration: none;
}


.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner p {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
}


h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem;
}
.devweb{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
h2{
    text-align: center;
    font-size: 2.5rem;
    
}

.photomax{
   height: 225px;
   width: 225px;;
   border-radius: 50%;
   margin-bottom: 2rem;
 
}
/* ___________________________DESCRIPTION____________________*/
.desktop{
    display: none;
}

.description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem 5rem;
   background-color: #438086;
   color: #f6f6f6;
   font-size: 1.2rem;
   text-align: center;
}

.contact{
    background-color:#438086;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   
}

.contactimg{
    width: 5rem;
    margin-right: 2rem;
    height: 5rem;
    padding-bottom: 2rem;
}
/* _______________________________________COMPETENCES___________________________*/
.competences {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    background-color:#DCDCDC;
    font-size: 1.2rem;
}
.competences h2 {
    margin-top: 0;
}
.skillimg{
    width: 3rem;
    height: 3rem;
}

/* _______________________________________PROJET___________________________*/
.contentprojet {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    font-size: 1.2rem;
}
.projet{
    border: solid 1px lightgray;
    border-radius: 1rem;
    box-shadow: 0 5px 5px 0 lightgray;
    margin: 1rem;
    width: 240px;
    text-align: center;
}
.projetimg{
    width: 240px;
    height: 240px;
    border: solid 2px lightgray;
    margin: 1rem;

}
h4{
    margin-bottom: 0;
    text-align: center;
    margin: 1rem;
}
.projet p {
    margin: 0 0 1rem 0;
    padding: 0 1rem;
    height: 100%;
    text-align: center;
}
.projet p:nth-of-type(2){
    text-align: center;
}

.projet a {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: black;
    text-decoration: none;
}

/* _______________________________________FORMATIONS___________________________*/
.formations{
    text-align: center;
}
.formations h3{
    font-size: 1.4rem;
}
.formations p {
    font-size: 1.1rem;
}
.years{
    font-weight: normal;
    
}
/* _______________________________________CERTIFICATIONS___________________________*/

.certifications{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.certifications h4{
    margin: 1rem 0 0.5rem 0;
    font-size: 1.4rem;
}
.certifications p{
    font-size: 1.1rem;
}
.certifications a{
    margin: 0.5rem 0 2rem 0;
    color: black;
    font-size: 1.1rem;
}



/* _______________________________________FOOTER___________________________*/

footer{
    color: #aaa;
    text-align: center;
    background-color: #f6f6f6;
    border: solid 1px lightgray;
    width: 100%;
    margin: 1rem 0 0 0;
    font-size: 1.1rem;

}


/* _______________________________________DESKTOP MEDIA QUERIES___________________________*/


@media screen and (min-width:810px){

/* ___________________________NAV-BAR___________________*/

.btn{
    display: none;
}

.menuBurger{
    width: 100%;
    height: 5rem;
    top:0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transform: none;
    transition: none;
    background-color: #f6f6f6;
    
}
.menuBurger ul{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f6f6f6;
    
}

.menuBurger ul li {
    border: none;
    padding: 0;
    
}

.menuBurger ul li a {
    color: black;
    font-size: 1.5rem;
}

.menuBurger ul li a:hover{
    color:#438086;
    transition: 0.4s ease-in-out;
}
/* ___________________________BANNER___________________*/
.banner{
    flex-direction: column-reverse;
}
.photomax{
    margin: 5rem 0 0 1rem;
}
.devweb{
    margin: 0;
}
h1{
    margin: 1rem 0 4rem 0;
}
.desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
/* ___________________________DESCRIPTION____________________*/

.description{
    padding: 2rem 30%;
}


/* ___________________________Contact____________________*/
.contact{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

/* ___________________________PROJET____________________*/

.contentprojet{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 30rem;
}

.projet{
    width: 240px;
    height: 100%;
    

}
.projet a {
    height: 100%;
}




}